h1, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e183c, #5d4a98);
    background-size: cover;
}

.header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

.title {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.description {
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #218838;
}
